<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>Servlets.LoginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_An_Account_Patient</servlet-name>
        <servlet-class>Servlets.Create_An_Account_Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicine_Control</servlet-name>
        <servlet-class>Servlets.Medicine_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allocation_Medicine</servlet-name>
        <servlet-class>Servlets.Allocation_Medicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Medicine_Control1</servlet-name>
        <servlet-class>Servlets.Medicine_Control1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill_Control</servlet-name>
        <servlet-class>Servlets.Bill_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Update_Control</servlet-name>
        <servlet-class>Servlets.Patient_Update_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Patient_Info</servlet-name>
        <servlet-class>Servlets.Update_Patient_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_T_R_Info</servlet-name>
        <servlet-class>Servlets.Update_T_R_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report_Update_Management</servlet-name>
        <servlet-class>Servlets.Report_Update_Management</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test_Update_Management</servlet-name>
        <servlet-class>Servlets.Test_Update_Management</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Patient_Seat</servlet-name>
        <servlet-class>Servlets.Update_Patient_Seat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Room_Update_Management</servlet-name>
        <servlet-class>Servlets.Room_Update_Management</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Patient_Doctor</servlet-name>
        <servlet-class>Servlets.Update_Patient_Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Doctor_Assignment</servlet-name>
        <servlet-class>Servlets.Update_Doctor_Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Doctor_Control</servlet-name>
        <servlet-class>Servlets.Update_Doctor_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editing_Medicine_Info</servlet-name>
        <servlet-class>Servlets.Editing_Medicine_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Medicine_Update</servlet-name>
        <servlet-class>Servlets.Patient_Medicine_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Doc_Info</servlet-name>
        <servlet-class>Servlets.Update_Doc_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor_Info_Update_Control</servlet-name>
        <servlet-class>Servlets.Doctor_Info_Update_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Nurse_Info</servlet-name>
        <servlet-class>Servlets.Update_Nurse_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nurse_Info_Update_Control</servlet-name>
        <servlet-class>Servlets.Nurse_Info_Update_Control</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create_An_Account_Patient</servlet-name>
        <url-pattern>/Create_An_Account_Patient.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/LoginProcess.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPageD</servlet-name>
        <servlet-class>Servlets.LoginPageD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selecting_Doctor</servlet-name>
        <servlet-class>Servlets.Selecting_Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Account</servlet-name>
        <servlet-class>Servlets.Patient_Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selecting_Room</servlet-name>
        <servlet-class>Servlets.Selecting_Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_Account_Room</servlet-name>
        <servlet-class>Servlets.Patient_Account_Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NurseList</servlet-name>
        <servlet-class>Servlets.NurseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NurseManagement</servlet-name>
        <servlet-class>Servlets.NurseManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allocating_Nurse</servlet-name>
        <servlet-class>Servlets.Allocating_Nurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Diagnostic_Control</servlet-name>
        <servlet-class>Servlets.Diagnostic_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_New_Test</servlet-name>
        <servlet-class>Servlets.Create_New_Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_New_Report</servlet-name>
        <servlet-class>Servlets.Create_New_Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Report</servlet-name>
        <servlet-class>Servlets.New_Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report_Management</servlet-name>
        <servlet-class>Servlets.Report_Management</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageD</servlet-name>
        <url-pattern>/LoginPageD.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Create_An_Account_Doctor</servlet-name>
        <servlet-class>Servlets.Create_An_Account_Nurse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create_An_Account_Doctor</servlet-name>
        <url-pattern>/Create_An_Account_Doctor.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPageN</servlet-name>
        <servlet-class>Servlets.LoginPageN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageN</servlet-name>
        <url-pattern>/LoginPageN.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Create_An_Account_Nurse</servlet-name>
        <servlet-class>Servlets.Create_An_Account_Nurse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create_An_Account_Nurse</servlet-name>
        <url-pattern>/Create_An_Account_Nurse.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPageA</servlet-name>
        <servlet-class>Servlets.LoginPageA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageA</servlet-name>
        <url-pattern>/LoginPageA.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPageP</servlet-name>
        <servlet-class>Servlets.LoginPageP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageP</servlet-name>
        <url-pattern>/LoginPageP.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selecting_Doctor</servlet-name>
        <url-pattern>/Selecting_Doctor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Account</servlet-name>
        <url-pattern>/Patient_Account.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selecting_Room</servlet-name>
        <url-pattern>/Selecting_Room.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Account_Room</servlet-name>
        <url-pattern>/Patient_Account_Room.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NurseList</servlet-name>
        <url-pattern>/NurseList.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NurseManagement</servlet-name>
        <url-pattern>/NurseManagement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allocating_Nurse</servlet-name>
        <url-pattern>/Allocating_Nurse.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Diagnostic_Control</servlet-name>
        <url-pattern>/Diagnostic_Control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_New_Test</servlet-name>
        <url-pattern>/Create_New_Test.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_New_Report</servlet-name>
        <url-pattern>/Create_New_Report.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Report</servlet-name>
        <url-pattern>/New_Report.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report_Management</servlet-name>
        <url-pattern>/Report_Management.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicine_Control</servlet-name>
        <url-pattern>/Medicine_Control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allocation_Medicine</servlet-name>
        <url-pattern>/Allocation_Medicine.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Medicine_Control1</servlet-name>
        <url-pattern>/Medicine_Control1.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill_Control</servlet-name>
        <url-pattern>/Bill_Control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Update_Control</servlet-name>
        <url-pattern>/Patient_Update_Control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Patient_Info</servlet-name>
        <url-pattern>/Update_Patient_Info.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_T_R_Info</servlet-name>
        <url-pattern>/Update_T_R_Info.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report_Update_Management</servlet-name>
        <url-pattern>/Report_Update_Management.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test_Update_Management</servlet-name>
        <url-pattern>/Test_Update_Management.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Patient_Seat</servlet-name>
        <url-pattern>/Update_Patient_Seat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Room_Update_Management</servlet-name>
        <url-pattern>/Room_Update_Management.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Patient_Doctor</servlet-name>
        <url-pattern>/Update_Patient_Doctor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Doctor_Assignment</servlet-name>
        <url-pattern>/Update_Doctor_Assignment.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Doctor_Control</servlet-name>
        <url-pattern>/Update_Doctor_Control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editing_Medicine_Info</servlet-name>
        <url-pattern>/Editing_Medicine_Info.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_Medicine_Update</servlet-name>
        <url-pattern>/Patient_Medicine_Update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Doc_Info</servlet-name>
        <url-pattern>/Update_Doc_Info.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor_Info_Update_Control</servlet-name>
        <url-pattern>/Doctor_Info_Update_Control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Nurse_Info</servlet-name>
        <url-pattern>/Update_Nurse_Info.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nurse_Info_Update_Control</servlet-name>
        <url-pattern>/Nurse_Info_Update_Control.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
